* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

main {
    margin: auto auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.coutdown {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.coutdown h1 {
    font-size: 36px;
    color: #6C63FF;
    font-weight: bold;
    letter-spacing: 5px;
}

.timer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.timer .descrip {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 10px;
}

.timer .descrip p{
    width: 95px;
    text-align: center;
    font-size: 14px;
    color: #C8C8C8;
    font-weight: 300;
}

.timer .descrip p:first-child {
    padding-left: 30px;
}

.timer .descrip p:last-child {
    padding-right: 100px;
}

.timer .time {
    text-align: center;
    font-size: 72px;
    color: #4D4C59;
    grid-column: 1 / span 5;
    width: 550px;
}

.photo {
    padding: 50px;
    grid-column: 2;
    grid-row: 1 / span 2;
}

.photo img{
    width: 800px;
    max-width: 100%;
    padding: 10px;
    align-items: center;
}

.signup {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    text-align: center;
}

.signup p {
    font-size: 14px;
    color: #9C9AB6;
    margin-top: 10px;
}

.btn-signup, .btn {
    color: #FFFFFF;
    font-size: 16px;
    background-color: #6C63FF;
    border-top: 2px solid #9b9a9a;
    border-bottom: 2px solid #000;
    width: 160px;
    height: 46px;
    border-radius: 10px;
    margin: 30px;
    transition: ease-in-out .3s;
}

.btn:hover {
    background-color: #574efc;
    border-top: 2px solid #000;
    border-bottom: 2px solid #9b9a9a;
}

/* MODAAAL */

.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.623);
    width: 100%;
    height: 100%;
    position: absolute;
    animation: animate-modal;
    animation-duration: 800ms;
}

.content-modal {
    display: none;
    border-radius: 10px;
    background-color: #fff;
    width: 600px;
    height: 600px;
    position: absolute;
    padding: 50px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: animate-modal;
    animation-duration: 800ms;
    box-shadow: 5px 5px 5px 15px rgba(0, 0, 0, 0.103);
}

.btn--close-modal {
    border: none;
    background-color: #fff;
    width: 50px;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px;
}

.modal-confirm .btn--close-modal img {
    width: 35px; 
}

.content-modal .btn--close-modal img {
    width: 35px; 
}

@keyframes animate-modal {
    from{ opacity: 1;}
    from{ opacity: 0;}
}

.modal-header h2 {
    letter-spacing: 3px;
    font-size: 55px;
    text-align: center;
    font-weight: 900;
    color: #574efc;
    margin-bottom: 20px;
}

.subscription {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #4D4C59;
}

label {
    display: flex;
    align-items: center;
    align-content: center;
}

.icon {
    border: 2px solid #4D4C59;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
    width: 35px;
    height: 35px;
    margin-top: 10px;
    padding-left: 8px;
}

.fa-mobile-alt {
    padding-left: 2px;
}



.subscription input {
    margin-top: 10px;
    width: 300px;
    height: 35px;
    border: 2px solid #4D4C59;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-left: 15px;
    padding-right: 15px;
    font-size:18px;
    font-weight: normal;
}

#check, .error {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 15px;
    font-weight: lighter;
}

.error {
    margin-top: 10px;
    color: rgb(230, 50, 50);
    max-width: 340px;
}



#check a {
    padding-left: 4px;
    color: #28235a;
}

#terms {
    margin: 0;
    margin-right: 5px;
    cursor: pointer;
    width: 13px;
    display: flex;
    align-items: center;
    align-content: center;
}

.btn-sub {
    height: 50px;
    font-size: 22px;
}

.modal-confirm { 
    display: none;
    border-radius: 10px;
    background-color: #fff;
    height: 250px;
    width: 700px;
    position: absolute;
    padding: 50px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: animate-modal;
    animation-duration: 800ms;
    box-shadow: 5px 5px 5px 15px rgba(0, 0, 0, 0.103);
}

.modal-confirm p {
    font-size: 52px;
    color: #4D4C59;
    text-align: center;
}

.modal-confirm img {
    width: 100px;
    margin: auto;
}

.img {
    width: 100%;
    text-align: center;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size:12px;
    text-align: center;
}


/* dark mode */

.btn-dark {
    color: #fff;
    background-color: #000;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px;
    border-radius: 25px;
}

.font-light {
    color: #fff;
}

.btn-light {
    background-color: #fff;
    color: #000;
}

.bg-dark {
    background-color: #0f0f0f;
}

.error {
    text-align: center;
}

.tky {
    color: #4D4C59;
    width: 100%;
    max-width: 500px;
}

/*mobile */

@media (max-width: 900px), (max-width: 1300px), (max-width: 769px), (max-width: 350px){
    main {
        flex-direction: column;
        width: 100vw;
        max-width: 100%;
    }

    .photo {
        padding: 0;
        margin: auto;
        margin-top: 50px;
    }
    
    .coutdown {
        margin: 80px 10px;
        order: 2;
    }
    
    .coutdown h1 {
        font-size: 130%;
    }

    .timer .time {
        font-size: 52px;
        width: 100%;
        padding: 0px;
        margin: auto;
    }

    .timer .descrip p{
        font-size: 12px;
        margin-top: 30px;
    }

    .signup {
        margin-top: 40px;
    }

  /* modal*/
    .content-modal {
        width: 350px;
        height: auto;
        box-shadow: 5px 5px 5px 15px rgba(0, 0, 0, 0.103);
        padding: 50px 20px;
    }

    .modal-header h2 {
        letter-spacing: 1px;
        font-size: 32px;
    }

    .subscription input {
        margin-top: 10px;
        width: 100%;
    }

    #check {
        margin-top: 30px;
        font-size: 12px;
        min-width: 300px;
        justify-content: center;
    }
    
    .modal-confirm { 
        height: auto;
        width: 300px;
        padding: 50px 10px;
        box-shadow: 5px 5px 5px 15px rgba(0, 0, 0, 0.103);
    }

    .modal-confirm p {
        font-size: 45px;
        padding-bottom: 10px;
        color: #4D4C59;
        text-align: center;
    }

    .btn-sub {
        margin: 20px;
    }
}

@media (min-width: 900px) and (max-width: 1300px){
    main {
        flex-direction: row;
    }

    .photo {
        padding: 0;
        margin: auto;
        margin-top: 50px;
    }

    .coutdown {
        margin: 80px;
        order: 0;
    }

  /* modal*/
    .content-modal {
        padding-bottom: 10px;
    }

}

@media (min-width: 900px) and (max-width: 1150px) {
    .photo img{
        width: 100%;
        margin-bottom: 80px;
    }

    .coutdown {
        margin: 30px;
    }

    .content-modal {
        width: 450px;
        padding: 50px;
    }

    .modal-confirm { 
        width: 600px;
        padding: 30px 10px;
    }
}

@media (max-width: 769px) {
    .photo img {
        width: 100%;
        max-width: 600px;
    }
}

@media (max-width: 350px) {
    * {
        max-width: 100%;
    }
    .coutdown h1 {
        font-size: 100%;
        text-align: center;
    }

    .timer .time {
        font-size: 40px;
    }

    .signup p {
        max-width: 90%;
    }

    #check {
        margin-top: 30px;
        font-size: 11px;
        min-width: 300px;
        justify-content: center;
    }

    .content-modal {
        width: 300px;
        padding: 50px;
    }
}